body{
    background-image: url(../Home/Images/BG/BG.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0%;
    font-family:Comic Sans MS, Comic Sans, cursive;

}
/* header */
header{
    background-color: #192436;
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index:1;

}
.logo{
    width: 100px;
    border-radius: 100%;
    height: auto;
    margin-left: 20px;
}
.navmenu{
    display: flex;
    list-style-type: none;
}
.navmenu a{
    text-decoration: none;
    color: aliceblue;
    justify-content: space-between;
    padding: 20px 20px;
}
.navmenu a:hover {
    color: #192436;
    background-color: aliceblue;
    transition: 0.3s; 
    border-radius: 50px 100px;
}
h1{
    
    font-size: 30px;
    text-align: center;
    margin-left: 380px;
    font-family:Comic Sans MS, Comic Sans, cursive;
}
h1 a{
    text-decoration: none;
    color: aliceblue;
}
/* body */
h2{
    display: flex;
    justify-self: center;
    text-align: center;
    font-size: 32px;
    border : solid 5px #192436;
    border-radius: 50px 50px;
    color: #192436;
    padding: 2px 100px;
    margin-top: 50px;
}


.loginLabel{
    display: flex;
    justify-self: center;
    color: #192436;
    font-size: 1.5em;
}

#Username {
    border:solid 2px #ffffff;
    border-radius: 40px;
    color: #192436;
}

#Username:hover{
    border-color:#192436;
}
#Username:focus { 
    border:solid 2px #ff0000;
}
input:focus {
    outline: none; 
}

#Password{
    border:solid 2px #ffffff;
    border-radius: 40px;
    color: #192436;
}

#Password:hover{
    border-color:#192436;
}
#Password:focus { 
    border:solid 2px #ff0000;
}

#login{
    background-color: #192436;
    color: white;
    border:solid 5px #ffffff;
    border-radius: 40px;
    padding: 5px 40px;
    cursor: pointer;
}

#login:hover{
    background-color: white;
    border:solid 5px #192436;
    color: #192436;
}


#Firstname {
    border:solid 2px #ffffff;
    border-radius: 40px;
    color: #192436;
}
#Firstname:hover{
    border-color:#192436;
}
#Firstname:focus { 
    border:solid 2px #ff0000;
}
#Lastname {
    border:solid 2px #ffffff;
    border-radius: 40px;
    color: #192436;
}
#Lastname:hover{
    border-color:#192436;
}
#Lastname:focus { 
    border:solid 2px #ff0000;
}
#Email{
    border:solid 2px #ffffff;
    border-radius: 40px;
    color: #192436;
}
#Email:hover{
    border-color:#192436;
}
#Email:focus { 
    border:solid 2px #ff0000;
}
#Createpassword
 {
    border:solid 2px #ffffff;
    border-radius: 40px;
    color: #192436;
}
#Createpassword:hover{
    border-color:#192436;
}
#Createpassword:focus { 
    border:solid 2px #ff0000;
}
#Confirmpassword{
    border:solid 2px #ffffff;
    border-radius: 40px;
    color: #192436;
}
#Confirmpassword:hover{
    border-color:#192436;
}
#Confirmpassword:focus { 
    border:solid 2px #ff0000;
}

#Signuup{
        background-color: #192436;
        color: white;
        border:solid 5px #ffffff;
        border-radius: 40px;
        padding: 5px 40px;
        cursor: pointer;
    }
    
#Signuup:hover{
        background-color: white;
        border:solid 5px #192436;
        color: #192436;
    }


#log{
    display: none;
}


/* footer */ 
footer address{
    text-align: center;
    display: flex;
    display: block;
    font-size: 20px;
    margin-top:-190px;  
}
footer a {
    color: black;
}
footer form{
    display: flex;
    display: inline-block;
    justify-content: space-between;
}
footer label{
    font-size: 20px;
    margin:10px 0px 0px 7pc;
    color: #11084f;
    text-decoration-style:double;
    text-decoration-line: underline;
}
footer textarea{
    font-size: 20px;
    margin: 5px 0px 0px 1pc;
    margin-bottom: 10px;
    border-radius: 10px;
}
footer button{
    font-size: 20px;
    border-style: none;
    padding: 2px 15px;
    border-radius: 50px ;
    text-transform: capitalize;
    margin: 0px 0px 0px 7pc;
    color: #192436;
    background-color: aliceblue;
}
footer button:hover{
    font-size: 20px;
    background: #192436;
    color: aliceblue;
    border-style: none;
}
footer p{
    font-size: 20px;
    margin: 40px 1pc;
    text-align: center;
}
footer{
    background-color: rgba(0, 0, 0, 0.208);
    margin-top: -10px;
    margin-bottom:-40px;
}
